.filter-ctrl {
    position: absolute;
    top: 85px;
    left: 20px;
    z-index: 1;
    width: 220px;
}

.filter-ctrl input[type=text] {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1;
    background-color: #fff;
    height: 40px;
    margin: 0;
    color: rgba(0,0,0,.5);
    padding: 10px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.filter-ctrl input[type=text]:hover{
    border-color: #8bb3f4;
}